.container{
    text-align: center;
    background-position: center;
    
}
.div1{
    text-align: center;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
}
body{
    background-color: #7deb8b;
}
h1{
    font-family: 'Lobster', cursive;
    font-size: 8rem;
    text-shadow: 5px 0 #26442a;
    margin-bottom: 30px;
    margin-top: 40px;
}
h2{
    font-size: 4rem;
    font-family: 'Syne Mono', monospace;
    margin-top: 30px;
    margin-bottom: 10px;
}
h3{
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    margin-top: 30px;
}
img{
    border-radius: 30px;
}